# Flutter/Dart
*.dart_tool/
*.packages
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/

# Miscellaneous
*.log
*.lock
*.DS_Store
*.log
*.swp
*.class

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.xcframework
